@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scroll */
html {
  scroll-behavior: smooth;
}


/* thanh scroll css */
::-webkit-scrollbar {
  width: 4px; /* Chiều rộng thanh cuộn dọc */
  height: 10px; /* Chiều cao thanh cuộn ngang */
}

/* Track (phần nền của thanh cuộn) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb (cục trượt) */
::-webkit-scrollbar-thumb {
  background: #e34646;
}

/* Hover khi rê chuột */
::-webkit-scrollbar-thumb:hover {
  background: #ff4f4f;
}



.active {
  @apply border-b-[2.5px] border-[#b3b3b3];
}

.ct_input_sign_and_log-in-page {
  @apply w-full text-black/85 font-semibold py-2.5 border-b-2 border-[#b3b3b3] outline-none focus:border-[#b6b6b6];
}

.categories_card_default {
  @apply w-[170px] h-[145px] border-2 border-[#b3b3b3] text-center text-black/80 rounded-lg   transition cursor-pointer;
}
.categories_card_active {
  @apply w-[170px] h-[145px] border-2 text-center bg-[#e34646] text-white rounded-lg transition cursor-pointer;
}
